<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <h2>Register</h2>
                    <p>Please fill in this form to create an account.</p>
                    <hr>
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>
                    
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>
                    
                    <label for="password1"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password1" required>
                    
                    <label for="password2"><b>Repeat Password</b></label>
                    <input type="password" placeholder="Repeat Password" name="password2" required>
                    <div class="role-selection">
                        <label><input type="radio" name="user" value="teacher" required> Teacher</label>
                        <label><input type="radio" name="user" value="student" required> Student</label>
                    </div>
                    
                    <hr>
                    <button type="submit" class="registerbtn">Register</button>
                </form>
                <div class="signin">
                    <p>Already have an account? <a href="{% url 'v_login' %}">Sign in</a>.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
