<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'login.css' %}"> -->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="POST">
                    {% csrf_token %}
                    <h2>Login</h2>
                    <p>Please fill in your credentials to login.</p>
                    <hr>
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter UserName" name="username" required>
                    
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    
                    <hr>
                    <input type="submit" class="loginbtn"><a href="dashboard.html">Login</a></input>
                </form>
                <div class="signup">
                    <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a>.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>